* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0f0f0f;
  color: white;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

.hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 120px;
}

h1 {
  font-size: 90px;
  margin-bottom: 30px;
  line-height: 1;
}

p {
  max-width: 650px;
  line-height: 1.8;
  color: #cfcfcf;
  margin-bottom: 40px;
  font-size: 18px;
}

button {
  width: fit-content;
  padding: 18px 40px;
  border: 1px solid white;
  background: transparent;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  font-size: 16px;
  letter-spacing: 1px;
}

button:hover {
  background: white;
  color: black;
}